@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.chatContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    background: $primary-color;
    overflow: hidden;
  }

  .sidebar {
    flex: 1;
    background-color: $primary-color;
    color: $text-color;

    @include media-query("mobile") {
      display: none;
    }

  }

  .messagesContainer {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    flex: 5;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

    @include media-query("mobile") {
      border-radius: 0;
    }
  }

  .chatBox {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .messageRight {
    display: flex;
    justify-content: flex-end;
    margin: 10px;

    .messageText {
      background: $ligth-blue;
      color: $text-color;
      padding: 10px;
      border-radius: 5px;
      margin: 5px;
    }
  }

.messageLeft {
    display: flex;
    justify-content: flex-start;
    margin: 10px;

    .messageText {
      background: $primary-color;
      color: $text-color-dark;
      padding: 10px;
      border-radius: 5px;
      margin: 5px;
    }
  }



  .inputContainer {
    display: flex;
    flex-direction: row;
    padding: 7px 5px;

    input {
      padding: 15px;
      flex: 6;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: #34506a;
      color: $text-color;
      border: 0;
    }

    button {
      flex: 1;
      height: 49px;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .userList {
   display: flex;
   flex-direction: column;
    padding: 10px;
  }

  .user {
   
    button {
      background: $secondary-color;
      color: $text-color;
      padding: 10px;
      width: 90%;
      border-radius: 5px;
      margin: 5px;
      border: 0;
    }

  }

  .userIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    color: #34506a;
  }
  

  