/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    //box-sizing: border-box;
  }
  
  html, body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    background-color: $background-color;
    color: $text-color;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }