// Colors
// Colors
$primary-color: #f1c40f; // Bright Yellow for titles
$secondary-color: #34495e; // Dark color for background
$background-color: #2c3e50; // Slightly lighter dark for overall background
$text-color: #ecf0f1; // Slightly off-white for text
$text-color-dark: #34495e; // Darker color for text
$title-color: #f39c12; // A deeper shade of yellow for titles
$danger-color: #e74c3c; // Red for errors
$success-color: #2ecc71; // Green for success messages
$warning-color: #f39c12; // Yellow for warnings
// dark colors
$dark-color: #1c2935; // Dark color for background
// light colors
$ligth-blue: #007bff; // Light blue for buttons
// Fonts
$font-family-base: 'Arial, sans-serif';
$font-size-base: 16px;

// Spacing
$padding-base: 5px;
$margin-base: 5px;