@import './variables';
@import './reset';

html, body {
  height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $padding-base;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
}

.error {
    color: $danger-color;
    font-size: 14px;
    margin-top: 5px;
}
  